body {
	  background-image: url("Fondo.png");
	  background-repeat: no-repeat;
	  background-color: #ffe4e1; 
	
}

.navbar {
    margin-bottom: 0;
    background-color: #3498db;
    z-index: 9999;
    border: 0;
    font-size: 14px !important ;
    line-height: 1.42857143 !important ;
    letter-spacing: 4px;
    border-radius: 0;
    border-bottom:  double #4da6ff;
    border-width: 7px;

}


.introduction{
	font: bold 36px/75px Oswald, Sans-Serif; 
	margin-top:   150px;
    margin-left: 5%;
    letter-spacing: 0.5px; 
    width: 100%; 
    color:white;
    line-height: 1.5;   
}

.introduction span {
	background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.2);
}

#portraitPic{
	margin-top: 100px;
}
#mobilePortrait{
    position:absolute;
    max-width:45%;
    max-height:45%;
    top:35%;
    left:35%;
    overflow:visible;
    display: none;
}


@media only screen and (max-width: 1000px) {
    
    #portraitPic
    {
    display: none;
  }
  }
@media only screen and (max-width: 750px) {
  .introduction{
        font-size: 29px;
        margin-top: 100px;
    }  
    #mobilePortrait{
    display: block;
  }
  }

@media only screen and (max-width: 700px) {
  .introduction{
        font-size: 21px;
        margin-top: 100px;
    }  
  }
  @media only screen and (max-width: 450px) {
  .introduction{
        font-size: 17px;
        margin-top: 100px;
    }  
  }
/*
#bloque {
	padding-top: 65px; }
.imagen {margin:0 auto;transition: box-shadow 4.5s;}	
.row{margin-top: 60px;}
.fondito {position: relative;}
h2 { 
   position: absolute; 
   margin-top:10%;
   left: 100px; 
   width: 100%; 
}
h2 span { 
   color: white; 
   font: bold 36px/75px Oswald, Sans-Serif; 
   letter-spacing: 0.5px;  
   background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.2);
   padding: 0px 10px; 
   line-height: 1.5;
}
h2 span.spacer {
	
   background: rgba(0, 0, 0, 0.001);
   padding: 0 10px;
}


*/